

<% if(notes.length) { %>
<div style="margin: 20px;">
<p class="proj-title"> Title: <%= notes[0].project_title %></p>
<p class="proj-desc"> Description: <%= notes[0].project_description %></p>
<p class="proj-date start"> Start-Date:<%= new Date(notes[0].project_start_dt).toLocaleDateString() %></p>
<p class="proj-date due"> Due-Date: <%= new Date(notes[0].project_due_dt).toLocaleDateString() %></p>

<%notes.forEach((item) => { %>
  
    <div class="note-section">
      <p class="note">Notes:- <%= item.note %></p>
      <a class="button" href="/notes/edit/<%= item.id %>"> Edit</a>
    </div>
    
  <% }); %>

  <a href="/notes/notes-form/<%= notes[0].project_id %>" class="button">ADD NOTE</a>
</div>
 
<%}else {%>

  <h3>There are no notes</h3>
  <a href="/notes/notes-form/<%= params %>" class="button">ADD NOTE</a>

  <%}%>